.footer_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    z-index: 2 ;
}

.footer_info {
    max-width: 325px;
    color: $white;
    padding: 7px 0 95px 0;
}

.footer_text {
    font-size: 15px;
    text-align: left;
    padding-top: 25px;
    line-height: 1.2;
}

.footer_logo {
    padding-bottom: 15px;
}

.header_li {
    font-weight: 700;
    color: $white;
    padding-bottom: 41px;
}

.footer_right {
    width: 650px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
        
        a {
            color: inherit;
            transition: .2s;

                &:hover {
                    color: $white;
                    text-decoration: underline;
                }
        }

        li:not(:first-child) {
             color: #969696;
            margin-bottom: 20px;
            
        }
}

.footer_list {

    @include breakpoint($phone-bp) {
        padding: 0 10px;
    }

    
}
// .copyright {
//     background-color: #111111 ;
//     text-align: center;
// }

// .copyright_text {
//     padding: 29px 0;
//     color: $white;
//     font-size: 15px;
//     font-family: 'TimesNewRomanPSMT';

//         span {
//             color: #fcff00;
//         }
// }