.main {
    padding: 86px 0 100px 0;

}

.slider {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1000px;
    color: $white;
    font-family: "Museo";
    margin: 0 auto;

        @include breakpoint($second-bp) {
            padding-top: 130px;
        }
}

.main_info {
    padding: 56px 0 0 0;
    @include breakpoint($tablet-bp) {
        margin-bottom: 50px;
    }
}

.main_title{
    max-width: 435px;
    font-size: 63px;
    font-weight: 700;
    font-style: italic;
    line-height: .9;
    text-align: left;
    letter-spacing: -2.3px;
    text-transform: uppercase;
    padding: 0 0 33px 0;   
        @include breakpoint($tablet-bp) {
            max-width: 350px ; 
        }

}

.main_text {
    max-width: 443px;
    font-size: 16px;
    text-align: left;
    font-weight: 300;
    line-height: 1.2;

        @include breakpoint($tablet-bp) {
            max-width: 350px ; 
        }
}

.main_button {
    display: inline-block;
    width: 160px;
    text-align: center;
    margin: 46px 0 0 19px;
    border: 1px $yellow solid;
    transform: skew(-35deg);
    transition: 1s;
    padding: 16px 0 ;

        span {
            display: block;
            color: $green;
            font-weight: 700;
            font-size: 20px;
            transform: skew(35deg);
        }

        &:hover {
            background-color: $yellow;
            border: 2px solid $green;
            cursor: pointer;

            
                span {
                    color: $white;
                }
        }
}

.main_img {
    position: relative;
    top: -6px;
    z-index: 2;
        img {
            display: block;

            @include breakpoint($tablet-bp) {
                max-width: 350px ;
                max-height: 375px ;
            }
        }
 
}
.shadow {
    display: block;
    position: absolute;
    top: 0;
    left: 40px;

        img {
            display: block;

            @include breakpoint($tablet-bp) {
                max-width: 350px ;
                max-height: 375px ;
                
            }
        }
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 89px;
}

.pagination_ul {
    display: flex;

        li {
            display: block;
            width: 13px;
            height: 9px;
            background-color: $orange;
            border: 1px solid $orange;
            margin-right: 16px;
            transform: skew(-35deg);
            cursor: pointer;
            transition: .2s linear;

            &:hover {
                background-color: $white;
                border: 1px solid $green;
            }
        }
}