.mainfeature {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $black;
    font-family: 'Museo'; 


}

.mainfeature_title {
    max-width: 374px;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.3px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 47px;
}

.mainfeature_info {
    position: relative;
    top: 0;
    left: 189px;

        @include breakpoint($tablet-bp) {
            left: 85px;;
        }

        @include breakpoint($second-bp) {
            left: 15px;
        }
}

.mainfeature_text, 
.secondfeature_text {
    width: 498px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    text-align: left;
    padding-left: 11px;
    padding-bottom: 56px;
}

.mainfeature_image {
    position: relative;
    bottom: 165px;
    right: 59px;
    z-index: 2;

        @include breakpoint($tablet-bp) {
            bottom: 0;
        }

        @include breakpoint($second-bp) {
            right: 15px;

            img {
                display: block;
                max-width: 600px;
                max-height: 650px;

            }

        
        }
}

.mainfeature_button,
.secondfeature_button {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(-35deg);
    max-width: 131px;
    height: 52px;
    border: 1px solid #212121;
    margin-left: 22px;
    transition: 1s;

    a {
        color: $black;
        font-family: inherit;
        font-weight: 700;
        font-size: 20px;
        padding-right: 10px;
        transform: skew(35deg);
    }

    &:hover {
        background-color: #212121;
        border: 2px solid $grey;
        
            a {
                color: $grey;
            }
    }
}