.wrapper {
    width: 100%;
    background-color: $darkgrey;
    position: relative;
    overflow-x: hidden;


        &::after {
            content: '';
            display: block;
            height: 501px;
            width: 107%;
            background-color: $grey;
            position: relative;
            top: -130px;
            left: 0;
            z-index: 3;
            transform: rotate(-7deg);
            }    
}

.page {  

        &--one {
            padding-top: 97px;
            z-index: 3;

        }

        &--two {
            position: relative;
            padding-top: 6px;
            top: -400px;
            background-color: $grey;
            z-index: 5;

        }

        &--three {
            display: block;
            width: 107%;
            background-color: $white;
            position: relative;
            bottom: 570px;
            left: -76px;
            z-index: 6;
            transform: rotate(7deg);

                @include breakpoint($tablet-bp) {
                    left: -86px;
                }

                &::after {
                    content: '';
                    display: block;
                    height: 300px;
                    width: 110%;
                    background-color: $orange;
                    position: relative;
                    top: -59px;
                    left: 15px;
                    z-index: 3;
                    transform: rotate(-14deg);
        
                    @include breakpoint($tablet-bp) {
                        top: 50px;
                    }
                }

        }

        &--four {
            background-color: $orange;
            position: relative;
            bottom: 719px;
            left: 0;
            z-index: 7;


        }

}



.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: $white;
    font-family: "Museo";
    margin-bottom: 98px;
    padding-left: 10px;
    position: relative;
    z-index: 4;
        @include breakpoint($second-bp) {
            padding-top: 130px;
        }
}

.main_info {
    @include breakpoint($tablet-bp) {
        margin-bottom: 50px;
    }
}

.main_title{
    max-width: 435px;
    font-size: 63px;
    font-weight: 700;
    font-style: italic;
    line-height: .9;
    text-align: left;
    letter-spacing: -2.3px;
    text-transform: uppercase;
    padding: 65px 40px 32px 8px;
    
        @include breakpoint($tablet-bp) {
            max-width: 350px ; 
        }

}

.main_text {
    max-width: 443px;
    font-size: 16px;
    text-align: left;
    font-weight: 300;
    line-height: 1.2;
    padding-left: 2px;

        @include breakpoint($tablet-bp) {
            max-width: 350px ; 
        }
}

.main_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 46px 0 0 22px;
    border: 1px $yellow solid;
    max-width: 160px;
    height: 52px;
    transform: skew(-35deg);
    transition: 1s;

    a {
        color: $green;
        font-family: inherit;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        transform: skew(35deg);
    }

    &:hover {
        background-color: $yellow;
        border: 2px solid $green;
        
            a {
                color: $white;
            }
    }
}

.main_img {
    position: relative;
    left: -6px;
    z-index: 2;
        img {
            display: block;

            @include breakpoint($tablet-bp) {
                max-width: 350px ;
                max-height: 375px ;
            }
        }
 
}
.shadow {
    display: block;
    position: absolute;
    top: 0;
    left: 40px;

        img {
            display: block;

            @include breakpoint($tablet-bp) {
                max-width: 350px ;
                max-height: 375px ;
                
            }
        }
}

.pagination_ul {
    display: flex;
    justify-content: center;
    padding-left: 11%;
    margin-bottom: 100px;

        li {
            display: block;
            width: 13px;
            height: 10px;
            background-color: $orange;
            margin-right: 16px;
            transform: skew(-35deg);
            cursor: pointer;
            transition: .2s linear;

            &:hover {
                background-color: $white;
                border: 1px solid $green;
            }
        }
}