.mainfeature {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1093px;
    color: $black;
    font-family: 'Museo'; 
    position: relative;
    z-index: 3;

        @include breakpoint($second-bp) {
            justify-content: center;
        }


}

.mainfeature_title,
.secondfeature_title {
    max-width: 374px;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.3px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 24px;

        @include breakpoint($tablet-bp) {
            font-size: 36px;
        }

        @include breakpoint($third-bp) {
            font-size: 26px ;  
          
        }

}

.mainfeature_info {

    @include breakpoint($tablet-bp) {
        padding-left: 30px;
    }

    @include breakpoint($third-bp) {
        max-width: 240px;
        padding-left: 0;
    }
}

.mainfeature_text, 
.secondfeature_text {
    max-width: 498px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    text-align: left;
    padding: 24px 0 56px 0;

        @include breakpoint($tablet-bp) {
            max-width: 400px;
        }
}

.mainfeature_image {
    position: absolute;
    bottom: -32px;
    right: 0;
    z-index: 2;   

            
        @include breakpoint($second-bp) {
            position: static;
        }

        @include breakpoint($tablet-bp) {
            right: 30px;

                img{
                    display: block;
                    max-width: 600px ;
                }
        }

        @include breakpoint($phone-bp) {

                img{
                    max-width: 400px ;
                }
        }

        @include breakpoint($third-bp) {
            img {
                max-width: 250px;
            }
        }

        

}

.mainfeature_button,
.secondfeature_button {
    display: inline-block;
    align-items: center;
    text-align: center;
    transform: skew(-35deg);
    width: 131px;
    border: 1px solid #212121;
    margin-left: 22px;
    transition: 1s;

        @include breakpoint($third-bp) {
            width: 100px;
        }

        &:hover {
            transform: skew(0deg);
            background-color: $black;


        }
}

.secondfeature_span,
.mainfeature_span  {
    display: block;
    color: $black;
    font-weight: 700;
    font-size: 20px;
    padding: 17px 0px;
    transform: skew(35deg);
    transition: 1s;

        @include breakpoint($third-bp) {
            font-size: 16px;
            padding: 15px 0;
        }

        &:hover {
            transform: skew(0);
            color: $white;
    
        }
}