.mainfeature {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1093px;
    color: $black;
    font-family: 'Museo'; 
    position: relative;
    z-index: 3;

}

.mainfeature_title {
    max-width: 374px;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.3px;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 47px;
}

.mainfeature_info {
    padding-top: 7px;
}

.mainfeature_text, 
.secondfeature_text {
    width: 498px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    text-align: left;
    padding-left: 11px;
    padding-bottom: 56px;
}

.mainfeature_image {
    position: absolute;
    bottom: -32px;
    right: 0;
    z-index: 2;        
}

.mainfeature_button,
.secondfeature_button {
    display: inline-block;
    align-items: center;
    text-align: center;
    transform: skew(-35deg);
    width: 131px;
 
    border: 1px solid #212121;
    margin-left: 22px;
    transition: 1s;

    span {
        display: block;
        color: $black;
        font-weight: 700;
        font-size: 20px;
        padding: 17px 0px;
        // padding-right: 10px;
        transform: skew(35deg);
    }

    &:hover {
        background-color: #212121;
        border: 2px solid $grey;
        
            a {
                color: $grey;
            }
    }
}