.newsletter {
    padding-top: 91px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

        @include breakpoint($phone-bp) {
            padding: 0 40px;
         }
}

.newsletter_tittle {
    color: $white;
    font-family: "Museo";
    font-size: 27px;
    font-weight: 700;
    text-align: left;

        @include breakpoint($tablet-bp) {
            text-align: center;
            padding-right: 40px;
        }

        @include breakpoint($third-bp) {
            font-size: 24px;
            padding-right: 0;
         }

        span {
            color: #f8d801;
            font-size: 35px;
            line-height: 1.8;
            padding-left: 4px;

                @include breakpoint($third-bp) {
                    font-size: 28px;
                }
        }

}


.newsletter_input {
    border: none;
    background-color: transparent;
    width: 337px;
    padding: 17px 0 15px 33px;
    color: #a7a7a7;
    transform: skew(34deg);

        @include breakpoint($third-bp) {
            width: 200px;
        }

        &::placeholder {
            font-family: "Museo";
            font-size: 15px;
            font-weight: 300;
            text-align: left;
        }
}

.newsletter_right-inner{
    transform: skew(-34deg);
    border: 1px solid $white;
}

.newsletter_form {
    display: flex;
    flex-wrap: wrap;

        @include breakpoint($phone-bp) {
            justify-content: center;
        }

}

.newsletter_btn {
    cursor: pointer;
    padding: 15px 31px;
    border: 1px solid $orange;
    transform: skew(-34deg);
    transition: .2s;

        @include breakpoint($phone-bp) {
            padding: 15px 0;
            width: 200px;
            margin-top: 15px;
            text-align: center;
        }

        @include breakpoint($third-bp) {
            width: 150px;
        }

        p {
            color: $orange;
            transform: skew(34deg);
            font-family: "Museo";
            font-size: 20px;
            font-weight: 700;

        }

        &:hover {
            background-color: $orange;


                P {
                    color: #212121;
                }
        }

}