.page {
    width: 100%;
    height: auto;
    background-color: $darkgrey;
    position: relative;
}

.pagetwo {
    height: 500px;
    background-color: #dde6e8;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        display: block;
        width:110%;
        height: 300px;
        top: -130px;
        left: -5%;
        background-color: #dde6e8;
        transform:rotate(-7deg);

    }

}

