.products {
    max-width: 1165px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 300px;
}

.products_info {
    color: $black;
    font-family: "Museo";
    padding: 100px 0 78px 0;
    text-align: center;

        @include breakpoint($second-bp) {
            max-width: 890px;
            padding: 100px 0;
        
        }
}

.produts_title {
    font-size: 41px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .8px;
    padding: 0 4px 35px 0;
}

.produts_subtitle {
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    max-width: 911px;
    margin: 0 auto;
}

.products_showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.showcase_link {
    transition: .7s;

        &:hover {
            transform: translateY(-1px);
            box-shadow: 0 10px 15px $darkgrey;
        }
}

.showcase_iteam {
    display: flex;
    flex-direction: column-reverse;
    width: 349px;
    height: 315px;
    background-color: $white;
    position: relative;
    z-index: 3;
    
        &::after {
            content: "";
            position: relative;
            top: -2px;
            left: 13px;
            display: block;
            width: 325px;
            height: 251px;
            background-color: $grey;
        }
}


.showcase_image {
    display: block;
    max-width: 325px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 44px;
    margin: auto;
    z-index: 5;
}

.showcase_info {
    padding: 17px 19px 15px 26px;
    display: flex;
    justify-content: space-between;
    color: $black;
    font-family: "Museo";
    font-size: 18px;
        h2 {
            font-weight: 300;
        }

        h3 {
            padding-left: 10px;
            font-weight: 700;
        }
}

