.secondfeature {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 0 auto;
    max-width: 1134px;
    font-family: 'Museo';
    position: relative;

        @include breakpoint($second-bp) {
            justify-content: center;
        }
}

.secondfeature_image {
    position: absolute;
    top: -126px;
    left: 0;
    z-index: 3;
     
        @include breakpoint($second-bp) {
            position: static;
        }

        @include breakpoint($tablet-bp) {
            left: 30px;
        }

        @include breakpoint($tablet-bp) {

            img {
                max-width: 400px;
            }
        }

        @include breakpoint($third-bp) {

            img {
                max-width: 250px;
            }
        }
}

.secondfeature_title {
    color: $white;
}

.secondfeature_info {
    padding-top: 44px;
   
        @include breakpoint($tablet-bp) {
            padding-right: 30px;
        }


        @include breakpoint($tablet-bp) {
            padding: 0 0 0 30px;
        }
        

}

.secondfeature_button {
    margin-left: 28px;
}