.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    // padding-left: 171px;
    z-index: 7;
    position: relative;
    overflow: hidden;
    padding: 0 0 0 12%;

}

.service_iteam {
    display: flex;
    max-width: 524px;
    color: $black;
    margin: 0 40px 36px 0;
    background-color: #f8de01;

        &--black {
            background-color: $black;
            color: $white;
        }
}

.service_info{
    font-family: "Museo";
    text-align: left;
    padding: 36px 0 18px 41px;
    min-width: 277px;
    z-index: 3;
}

.service_title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.5px;

}

.service_text {
    max-width: 200px;
    font-size: 16px;
    font-weight: 300;
    padding: 26px 0 27px 0;
    line-height: 1.2;
}

.service_button {
    display: flex;


        a {
            color: #f8de01;
            font-family: "Museo";
            font-size: 20px;
            font-weight: 700;
        }

        &--black {

            a {
            color: $black;
            }
        }
}

.service_img {
    position: relative;
    right: 77px;
    
        img {
            display: block;
            height: 266px;
            width: 285px;   
        }
}