.triangle1 {
    display: block;
    width: 0;
	height: 0;
	border-top: 270px solid  $orange; 
	border-right: 269px solid transparent;	
    position: absolute;
     top: 0;
     left: 0;

        &::after  { 
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-top: 75px solid $yellow; 
            border-right: 75px solid transparent;
            bottom: 23px;
            left: 57px;	
            z-index: 2;
     }

}

.triangle3 {
    display: block;
    position: absolute;
   top: 45px;
    right: 0;
	width: 0;
	height: 0;
	border-top: 60px solid transparent;
	border-right: 57px solid $yellow;
	border-bottom: 60px solid transparent;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 201px;
            right: -55px;
            width: 0;
            height: 0;
            border-top: 354px solid transparent;
            border-right: 322px solid $orange;
            border-bottom: 362px solid transparent;
        }
}


    
.triangle6 {
    display: block;
    width: 0;
    height: 0;
    border-top: 46px solid transparent;
    border-left: 44px solid $yellow;
    border-bottom: 40px solid transparent;
    position: relative;
    top: 54em;
    left: 0;

        &::after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-bottom: 427px solid $orange; 
            border-right: 373px solid transparent;
            position: absolute;
            left: -43px;
            top: 28px;
            z-index: 3;
            transform: skewY(-7deg);
        }
        @include breakpoint($tablet-bp) {
            top: 94em;
        }
}