<header>
    <nav class="header_nav">
      <ul class="header_list">
        <li class="header_left">
          <img src="./assets/images/logo.png" alt="" />
        </li>
        <li class="header_right">
          <ul class="header_menu header_menu--mobile">
            <li class="menu_li">
              <a href="">HOME</a><span>|</span>
            </li>
            <li class="menu_li">
              <a href="">COMPANY</a><span>|</span>
            </li>
            <li class="menu_li">
              <a href="">SPORT STARS</a><span>|</span>
            </li>
            <li class="menu_li menu_li--pd">
              <a href="">PRODUCTS</a><span>|</span>
            </li>
            <li class="menu_li menu_li--pd">
              <a href="">CONTACT</a><span>|</span>
            </li>
            <li class="menu_li menu_li--pd">
              <a href="">BUY NOW</a>
            </li>
          </ul>
        </li>
        <div class="header__burger">
          <span></span>
        </div>
      </ul>
    </nav>
  </header>
